.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin: 0px auto;
  max-width: 1500px;
  height: auto;
}

.home__conatainer {
  display: flex;
  justify-content: center;
}

.home__image {
  object-fit: contain;
  width: 100%;
}

.home__rentForm {
  background-color: white;
  padding: 100px 0px;
}
